<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032142087180-g9trd1gfnqumk41bj8p5d7vdh9qti1vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032142087180-g9trd1gfnqumk41bj8p5d7vdh9qti1vc</string>
	<key>API_KEY</key>
	<string>AIzaSyBgw6QQg8tdFsPvjNFTpYZ8CO6MrujAdOA</string>
	<key>GCM_SENDER_ID</key>
	<string>1032142087180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Sayf</string>
	<key>PROJECT_ID</key>
	<string>sayf-b111c</string>
	<key>STORAGE_BUCKET</key>
	<string>sayf-b111c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032142087180:ios:811c4aa474ed8f88b3ba29</string>
</dict>
</plist>